.icon-colored {
    color: #C19898;
    position: relative;
    padding: 30px;
    font-size: 50px;
}


.contact-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.contact-card {
    height: 100%;
    transition: box-shadow 0.3s ease-in-out;
}

    .contact-card:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
        transform: scale(1.05);
    }

    .contact-card .card-title,
    .contact-card .card-text {
        margin: 0;
    }

.icon-background {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="none" stroke-width="0" fill="%23f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"%3E%3C/path%3E%3C/svg%3E');
    background-size: cover;
    background-position: right center;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
}

@media (max-width: 767px) {
    .col-md-4 {
        padding: 20px;
    }
}


